* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.left {
  width: 100%;
  border: 1px solid green;
  text-align: center;
}

.right {
  width: 100%;
  border: 1px solid orangered;
  text-align: center;
}
