:root {
  /* colors */
  --dark-bg: #333;
  --light-bg: #fff;

  /* wrappers/containers sizes */
  /* --wrapper-width: 1200px; */
  --wrapper-width: clamp(320px, 90vw, 1400px);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--wrapper-width);
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--light-bg);
}

.left,
.right {
  flex: 1 1 45%;
  min-width: 300px;
  border: 1px solid green;
  text-align: center;
}

.grid-wrapper {
  width: 100%;
  max-width: var(--wrapper-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: var(--light-bg);
  gap: 2rem;
  text-align: center;

  .grid-card {
    border: 1px solid var(--light-bg);
    border-radius: 1rem;
    padding: 1rem;
  }
}
