:root {
  /* colors */
  --dark-bg: #333;
  --light-bg: #fff;

  --hero-bg: #458e42;

  /* font */
  --site-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* wrappers/containers sizes */
  /* --wrapper-width: 1200px; */
  --wrapper-width: clamp(320px, 90vw, 1400px);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  font-family: var(--site-font);
}

.hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--hero-bg);
  padding-block: 4rem;
}

.hero-wrapper-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: var(--wrapper-width);

  h2 {
    color: var(--light-bg);
    font-weight: 700;
    font-size: clamp(1.25rem, -0.0625rem + 7vw, 3.875rem);
    padding: 0;
    margin: 0;
  }

  span {
    color: var(--light-bg);
    font-size: clamp(1.25rem, 0.9375rem + 1.6667vw, 1.875rem);
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: var(--light-bg);
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--wrapper-width);
  padding: 1rem;
  gap: 1rem;
  background-color: var(--light-bg);
}

.wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--wrapper-width);
  padding: 1rem;
  gap: 1rem;
  background-color: var(--light-bg);

  > * {
    margin: 0;
    padding: 0;
  }
}

.left,
.right {
  flex: 1 1 45%;
  min-width: 300px;
  border: 1px solid green;
  text-align: center;
}

.grid-wrapper {
  width: 100%;
  max-width: var(--wrapper-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: var(--light-bg);
  gap: 2rem;
  text-align: center;

  .grid-card {
    border: 3px solid var(--light-bg);
    border-radius: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
