* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}

.left {
  width: 100%;
  border: 1px solid green;
  text-align: center;
}

.right {
  width: 100%;
  border: 1px solid orangered;
  text-align: center;
}
